<header class="header p-4">
    <div class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <img src="src/assets/icons/organic-logo.svg" alt="logo"  class="d-inline-block align-text-top">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
                        <li class="nav-item">
                            <a class="nav-link active link-color Roboto18px-400" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-colors Roboto18px-400" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-colors Roboto18px-400" href="#">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-colors Roboto18px-400" href="#">Pages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-colors Roboto18px-400" href="#">Contact Us</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-Tertiary Roboto18px-400" type="submit"><img src="src/assets/icons/korzinka icon.svg" alt="" class=" icon  ">Cart 0</button>
                    </form>
                </div>
                <!-- /.collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>
    <!-- div -->
</header>