

<section class="abouts aboutsbg ps-5">
    <div class="container">
        <div class="row gap-4 d-flex flex-nowrap  ">
            <div class="col-xl-6 py-5  "><img src="src/assets/images/Aboutsimage.png" alt=""></div>

            <div class="col-xl-6">
                <p class="Yellowtail36px-400  ">About Us</p>
                <p class="Roboto45px-700">We Believe in Organic Foods For Strong Health</p>
                <p class="OpenSans18px-400 textcolor">Welcome to the world of natural and organic. Here you can discover the bounty of nature. We have grown on the principles of health, and care. We aim to give our customers a healthy chemical-free meal for perfect </p>

                <div class="row d-flex gap-2 flex-nowrap">
                    <div class="col-xl-2"><img src="src/assets/icons/organic fruit icon.svg" alt="icon" class=" bg-white p-4 mt-2 borderradius15"></div>
                    <div class="col-xl-10">
                        <p class="Roboto25px-400 link-colors ">Organic Foods Only</p>
                        <p class="OpenSans18px-400 textcolor">The Product that you ordered will be verified that we have or not if have we will start to move on with the next step.</p>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row d-flex gap-2 flex-nowrap">
                    <div class="col-xl-2"><img src="src/assets/icons/post.svg" alt="" class=" bg-white p-4 mt-2  borderradius15"></div>
                    <div class="col-xl-10">
                        <p class="Roboto25px-400 link-colors ">Quality Standards</p>
                        <p class="OpenSans18px-400 textcolor">Once your product is packed it will be delivered to your nearby locality you can directly visit the to buy the product.</p>
                    </div>
                    <!-- /.col-xl-10 -->
                </div>

                <button type="button" class="button col-xl-4 bg-dark text-white Roboto18px-400 my-5">Explore Now <img src="https://img.icons8.com/external-others-inmotus-design/1x/external-Right-round-icons-others-inmotus-design-6.png" alt="" class="iconwith  ms-2"></button>
            </div>
            <!-- /.col-xl-6 -->
        </div>
    </div>
    <!-- /.container -->
</section>