<section class="eco bgeco  ">
    <div class="container">

        <div class="row">
            <div class="col-xl-6">
                <img src="src/assets/images/mountains.png" alt="" class="">
            </div>
            
            <div class="col-xl-6 d-flex flex-column justify-content-center">
                <div class="ecocard">
                    <div class="row">
                        <div class="col-xl-1"></div>
                        <div class="col-xl-6">
                            <p class="Yellowtail36px-400 mt-5">Eco Friendly</p>
                            <p class="Roboto45px-700 ">From our Farm To your Home.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-1"></div>
                        <div class="col-xl-10">
                            <p class="Roboto23px-700">Choose Your Products</p>
                            <p class="OpenSans18px-400 textcolor">In our listing, we have several collections of organic products. This is the place where you need to choose the product you want.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-1"></div>
                        <div class="col-xl-10">
                            <p class="Roboto23px-700">Farmers will produce it</p>
                            <p class="OpenSans18px-400 textcolor">The Product that you ordered will be verified that we have or not if have we will start to move on with the next step.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-1"></div>
                        <div class="col-xl-10">
                            <p class="Roboto23px-700">We Can Delivery too</p>
                            <p class="OpenSans18px-400 textcolor">If you are not comfortable going to the nearby market place we also will deliver your product to your doorstep.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</section>