<footer class="footer ">
    <div class="container">
        <div class="row mt-5  ">
            <div class="col-xl-3 text-end borderright ">
                <div class="">
                    <p class="Roboto30px-700  ">Contact Us</p>
                </div>
                <div class="">
                    <p class="OpenSans18px-600 ">Email</p>
                </div>
                <div class="">
                    <p class=" textcolor lh-1 OpenSans15px-400 ">needhelp@organick.com</p>
                </div>
                <div class="">
                    <p class="OpenSans18px-600 ">Phone</p>
                </div>
                <div class="">
                    <p class=" textcolor lh-1 OpenSans15px-400">123 (1254) 1452</p>
                </div>
                <div class="">
                    <p class="OpenSans18px-600 ">Address</p>
                </div>
                <div class="">
                    <p class=" textcolor lh-1 OpenSans15px-400">88 Road, Brooklyn Street, USA</p>
                </div>
            </div>

            <div class="col-xl-6 d-flex flex-column justify-content-center align-items-center gap-4">
                <div class="">

                    <img src="src/assets/icons/organic-logo.svg" alt="" class="">
                </div>
                <p class=" textcolor OpenSans15px-400 text-center ">We are a popular and farming company aspiring to be a leader in the Organic food industry.</p>
                <div class="image">
                    <div class="img gap-3 d-flex">
                        <div class=""> 
                            <img src="src/assets/icons/instagramicon.svg" alt="" class="">
                        </div>
                        <div class=""> 
                            <img src="src/assets/icons/facebookicon.svg" alt="" class="">
                        </div>
                        <div class=""> 
                            <img src="src/assets/icons/twittericon.svg" alt="" class="">
                        </div>
                        <div class=""> 
                            <img src="src/assets/icons/instagramicon.svg" alt="" class="">
                        </div>
                        
                    </div>
                </div>
            </div>


            <div class="col-xl-3 text-start borderleft ">
                <div class="">
                    <p class="Roboto30px-700  ">Contact Us</p>
                </div>
                <div class="">
                    <p class=" textcolor lh-2 OpenSans15px-400 ">Style Guide</p>
                </div>
                <div class="">
                    <p class=" textcolor lh-2 OpenSans15px-400 ">Protected</p>
                </div>
                <div class="">
                    <p class=" textcolor lh-2 OpenSans15px-400 ">Page Not Found</p>
                </div>
                <div class="">
                    <p class=" textcolor lh-2 OpenSans15px-400">Changelog</p>
                </div>
                <div class="">
                    <p class=" textcolor lh-2 OpenSans15px-400 ">Licenses</p>
                </div>
                
            </div>
        </div>
    </div>
                <div class="line mt-5"></div>
                <p class=" textcolor lh-2 OpenSans15px-400  text-center">Copyright © Organick | Designed by VictorFlow - Powered by Webflow</p>
</footer>