---
import Button from "../components/Button.astro";

---

<section class="hero heroimage " >
   
    <div class="container">
    <div class="row">
        <div class="col-xl-5 vh-100 flex ">
           
            <p class="Yellowtail36px-400">Made with nature</p>
            <p class="Roboto70px-700 ">Welcome to the world of nature and organic.</p>
            <slot />
            <Button />
        </div>
    </div>
    </div>


</section>