<section class="news">
    <div class="container">
        <div class="row d-flex flex-nowrap">
            <div class="col-xl-10">
                <p class="Yellowtail36px-400 mt-5">News</p>
                <p class="Roboto45px-700 ">Discover The recent content about organic products</p>
            </div>
            

            <div class="mt-5">
                <button type="button" class=" button mt-5 px-4 bgwhite Roboto18px-400 ">View All products<img src="https://img.icons8.com/external-others-inmotus-design/1x/external-Right-round-icons-others-inmotus-design-6.png" alt="" class="iconwith  ms-2"></button>
            </div>
        </div>

        <div class="row gap-4 d-flex flex-nowrap">
            <div class="col-xl-6 bgnews1 flex">
                <div class="row">
                    <div class="col-xl-1"></div>
                    <div class="col-xl-10 newbgwhite ">
                        <div class="row">
                            <div class="col-xl-1"><img src="src/assets/icons/account icon.svg" alt="" class=""></div>
                            <div class="col-xl-11"><p class="OpenSans18px-400 textcolor">Kristina Castle</p></div>
                            <div class="col-xl-12"><p class="Roboto23px-700  ">Everything You Need to Know About Organic</p></div>
                            <div class="col-xl-11"><p class="OpenSans18px-400 textcolor mt-4">Organic farming is the only way that you still can experience the real world.</p></div>
                            <div class="col-xl-auto"><p class=" Roboto22px-400 ">View More</p></div>
                            <div class="col-xl-auto next "></div>
                        </div>
                    </div>
                    <div class="col-xl-1"></div>
                </div>
            </div>
            <div class="col-xl-6 bgnews2 flex">
                <div class="row">
                    <div class="col-xl-1"></div>
                    <div class="col-xl-10 newbgwhite ">
                        <div class="row">
                            <div class="col-xl-1"><img src="src/assets/icons/account icon.svg" alt="" class=""></div>
                            <div class="col-xl-11"><p class="OpenSans18px-400 textcolor">Alex Louis</p></div>
                            <div class="col-xl-12"><p class="Roboto23px-700  ">Organic Fruits: Surprising Benefits and Facts</p></div>
                            <div class="col-xl-11"><p class="OpenSans18px-400 textcolor mt-4">The world of nature has grown on the principles of health, ecology, and care.</p></div>
                            <div class="col-xl-auto"><p class=" Roboto22px-400 ">View More</p></div>
                            <div class="col-xl-auto next "></div>
                        </div>
                    </div>
                    <div class="col-xl-1"></div>
                </div>
            </div>
        </div>

        

    </div>
</section>