<section class="offerproducts bgoffer vh-100 ">
    <div class="container">
        <div class="row d-flex flex-nowrap">
            <div class="col-xl-8">
                <p class="Yellowtail36px-400 mt-5">Offer Products</p>
                <p class="Roboto45px-700 text-white">We Offer Organic for You</p>
            </div>
            <div class="col-xl-2"></div>

            <div class="mt-5">
                <button type="button" class=" button mt-5 px-4 bg-warning Roboto18px-400 ">View All products<img src="https://img.icons8.com/external-others-inmotus-design/1x/external-Right-round-icons-others-inmotus-design-6.png" alt="" class="iconwith  ms-2"></button>
            </div>
        </div>

        <div class="row gap-4 flex-nowrap mt-3">


           
            <!-- card -->
            <div class="col-xl-4 bg-light p-4 borderradius30 ">
                <button type="button" class="  col-xl-3 bg-dark text-white OpenSans15px-400  borderradius5">Vegetable </button>
                <img src="src/assets/images/popcorn.png" alt="" class="">
                <p class=" Roboto22px-400 ">Calabrese Broccoli</p>
                <div class="line"></div>

                <div class="row ">
                    <div class="col-xl-4">
                        <p class="  btn-outline-info  Roboto18px-400">$ 25.00 USD</p>
                    </div>
                    <div class="col-xl-4">
                        <p class=" OpenSans18px-600">$ 21.00 USD</p>
                    </div>
                    <div class="col-xl-4">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="ms-3 mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        
                    </div>
                    
                </div>
            </div>
            
            <!-- card -->
            <div class="col-xl-4 bg-light p-4 borderradius30 ">
                <button type="button" class="  col-xl-3 bg-dark text-white OpenSans15px-400  borderradius5">Vegetable </button>
                <img src="src/assets/images/tomato.png" alt="" class="">
                <p class=" Roboto22px-400 ">Calabrese Broccoli</p>
                <div class="line"></div>
    
                <div class="row ">
                    <div class="col-xl-4">
                        <p class="  btn-outline-info  Roboto18px-400">$ 25.00 USD</p>
                    </div>
                    <div class="col-xl-4">
                        <p class=" OpenSans18px-600">$ 21.00 USD</p>
                    </div>
                    <div class="col-xl-4">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="ms-3 mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        
                    </div>
                    
                </div>
            </div>
            <!-- card -->
            <div class="col-xl-4 bg-light p-4 borderradius30 ">
                <button type="button" class="  col-xl-3 bg-dark text-white OpenSans15px-400  borderradius5">Vegetable </button>
                <img src="src/assets/images/almonds.png" alt="" class="">
                <p class=" Roboto22px-400 ">Calabrese Broccoli</p>
                <div class="line"></div>
    
                <div class="row ">
                    <div class="col-xl-4">
                        <p class="  btn-outline-info  Roboto18px-400">$ 25.00 USD</p>
                    </div>
                    <div class="col-xl-4">
                        <p class=" OpenSans18px-600">$ 21.00 USD</p>
                    </div>
                    <div class="col-xl-4">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="ms-3 mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        
                    </div>
                    
                </div>
            </div>
        </div>

        
    </div>
</section>