<section class="ourproducts">
    <div class="container">
        <p class="Yellowtail36px-400 text-center mt-5">Organic</p>
        <p class="Roboto45px-700 text-center">Our Products</p>
        <div class="row gap-4 flex-nowrap">


            <!-- CARD -->
            <div class="col-xl-4 bg-light p-4 borderradius30 ">
                <button type="button" class="   col-xl-3 bg-dark text-white OpenSans15px-400  borderradius5">Vegetable </button>
                <img src="src/assets/images/Broccoli.png" alt="" class="">
                <p class=" Roboto22px-400 ">Calabrese Broccoli</p>
                <div class="line"></div>
                <!-- /.line -->

                <div class="row ">
                    <div class="col-xl-4">
                        <p class="  btn-outline-info  Roboto18px-400">$ 25.00 USD</p>
                    </div>
                    <!-- /.col-xl-4 -->
                    <div class="col-xl-4">
                     <p class=" OpenSans18px-600">$ 21.00 USD</p>   
                    </div>
                    <!-- /.col-xl-4 -->
                    <div class="col-xl-4">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="ms-3 mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                    </div>
                    <!-- /.col-xl-4 -->
                </div>
                <!-- /.row -->
            </div>

            <!-- CARD -->
            <div class="col-xl-4 bg-light p-4 borderradius30 ">
                <button type="button" class="  col-xl-3 bg-dark text-white OpenSans15px-400  borderradius5">Vegetable </button>
                <img src="src/assets/images/popcorn.png" alt="" class="">
                <p class=" Roboto22px-400 ">Calabrese Broccoli</p>
                <div class="line"></div>
                <!-- /.line -->
                
                <div class="row ">
                <div class="col-xl-4">
                    <p class="  btn-outline-info  Roboto18px-400">$ 25.00 USD</p>
                </div>
                <!-- /.col-xl-4 -->
                <div class="col-xl-4">
                    <p class="  OpenSans18px-600">$ 21.00 USD</p>
                </div>
                <!-- /.col-xl-4 -->
                <div class="col-xl-4">
                    <img src="src/assets/icons/small star icon.svg" alt="" class="ms-3 mt-1">
                    <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                    <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                    <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                    <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                </div>
                <!-- /.col-xl-4 -->
                </div>
                <!-- /.row -->
            </div>

            <!-- CARD -->
            <div class="col-xl-4 bg-light p-4 borderradius30 ">
                <button type="button" class="  col-xl-3 bg-dark text-white OpenSans15px-400  borderradius5">Vegetable </button>
                <img src="src/assets/images/pistaco.png" alt="" class="">
                <p class=" Roboto22px-400 ">Calabrese Broccoli</p>
                <div class="line"></div>
                <!-- /.line -->

                <div class="row ">
                    <div class="col-xl-4">
                        <p class="  btn-outline-info  Roboto18px-400">$ 25.00 USD</p>
                    </div>
                    <!-- /.col-xl-4 -->
                    <div class="col-xl-4">
                        <p class=" OpenSans18px-600">$ 21.00 USD</p>
                    </div>
                    <!-- /.col-xl-4 -->
                    <div class="col-xl-4">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="ms-3 mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                    </div>
                    <!-- /.col-xl-4 -->
                </div>
                <!-- /.row -->
            </div>
        </div>

        <div class="row gap-4 flex-nowrap mt-4 mb-5">


            <!-- CARD -->
            <div class="col-xl-4 bg-light p-4 borderradius30 ">
                <button type="button" class="  col-xl-3 bg-dark text-white OpenSans15px-400  borderradius5">Vegetable </button>
                <img src="src/assets/images/tomato.png" alt="" class="">
                <p class=" Roboto22px-400 ">Calabrese Broccoli</p>
                <div class="line"></div>
                <!-- /.line -->
                
                <div class="row ">
                    <div class="col-xl-4">
                        <p class="  btn-outline-info  Roboto18px-400">$ 25.00 USD</p>
                    </div>
                    <!-- /.col-xl-4 -->
                    <div class="col-xl-4">
                        <p class="  OpenSans18px-600">$ 21.00 USD</p>
                    </div>
                    <!-- /.col-xl-4 -->
                    <div class="col-xl-4">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="ms-3 mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                    </div>
                    <!-- /.col-xl-4 -->
                </div>
                <!-- /.row -->
            </div>

            <!-- CARD -->
            <div class="col-xl-4 bg-light p-4 borderradius30 ">
                <button type="button" class="  col-xl-3 bg-dark text-white OpenSans15px-400 borderradius5">Vegetable </button>
                <img src="src/assets/images/almonds.png" alt="" class="">
                <p class=" Roboto22px-400 ">Calabrese Broccoli</p>
                <div class="line"></div>
                <!-- /.line -->

                <div class="row ">
                    <div class="col-xl-4">
                        <p class="  btn-outline-info  Roboto18px-400">$ 25.00 USD</p>
                    </div>
                    <!-- /.col-xl-4 -->
                    <div class="col-xl-4">
                        <p class=" OpenSans18px-600">$ 21.00 USD</p>
                    </div>
                    <!-- /.col-xl-4 -->
                    <div class="col-xl-4">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="ms-3 mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                    </div>
                    <!-- /.col-xl-4 -->
                </div>
                <!-- /.row -->
            </div>

            <!-- CARD -->
            <div class="col-xl-4 bg-light p-4 borderradius30 ">
                <button type="button" class="  col-xl-3 bg-dark text-white OpenSans15px-400 borderradius5">Vegetable </button>
                <img src="src/assets/images/hazelnut.png" alt="" class="">
                <p class=" Roboto22px-400 ">Calabrese Broccoli</p>
                <div class="line"></div>
                <!-- /.line -->

                <div class="row" >
                    <div class="col-xl-4">
                        <p class="  btn-outline-info  Roboto18px-400">$ 25.00 USD</p>
                    </div>
                    <!-- /.col-xl-4 -->
                    <div class="col-xl-4">
                        <p class=" OpenSans18px-600">$ 21.00 USD</p>
                    </div>
                    <!-- /.col-xl-4 -->
                    <div class="col-xl-4">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="ms-3 mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                        <img src="src/assets/icons/small star icon.svg" alt="" class="mt-1">
                    </div>
                    <!-- /.col-xl-4 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>