<section class="second ">
    <div class="container">
        <div class="row gap-4 d-flex flex-nowrap">
            <div class="col-xl-6 secondimage1 flex">
                <div class="row">
                    <div class=" col-xl-6 ps-5  ">
                        <p class="Yellowtail36px-400 text-white">Natural!!</p>
                        <p class="Roboto40px-400 text-white lh-1">Get Garden Fresh Fruits</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 secondimage2 flex">
                <div class="row">
                    <div class=" col-xl-6 ps-5 ">
                        <p class="Yellowtail36px-400 ">Offer!!</p>
                        <p class="Roboto40px-400 text-link-colors lh-1">Get 10% off on Vegetables</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>