<section class="swiper vh-100 bg-light flex">
    <div class="container ">
        <div class="row gap-4 d-flex flex-nowrap">
            <div class="col-xl-4 bgfrutice flex">
                <div class="row">
                    <div class="col-xl-2"></div>
                    <div class=" col-xl-8 ">
                        <p class="Roboto23px-700 text-center bg-white  py-5 borderradius20px ">Fruit Juice</p>
                    </div>
                    <div class="col-xl-2"></div>
                </div>
            </div>
            <div class="col-xl-4 bgorganic flex">
                <div class="row ">
                    <div class="col-xl-2"></div>
                    <div class=" col-xl-8 ">
                        <p class="Roboto23px-700 text-center  bg-white   py-5 borderradius20px ">Organic Food</p>
                    </div>
                    <div class="col-xl-2"></div>
                </div>
            </div>
            <div class="col-xl-4 bgnuts flex">
                <div class="row">
                    <div class="col-xl-2"></div>
                    <div class=" col-xl-8">
                        <p class="Roboto23px-700 text-center  bg-white  py-5 borderradius20px ">Nuts Cookies</p>
                    </div>
                    <div class="col-xl-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>