<section class="testimonial testimonialbg pb-5">
    <div class="container ">

        <p class="Yellowtail36px-400 text-center mt-5">Testimonial</p>
        <p class="Roboto45px-700 text-center">What Our Customer Saying?</p>
        
        <div class="image d-flex justify-content-center mt-5">
            <img src="src/assets/images/women.png" alt="" class=" ">
        </div>
        
        
        <div class=" d-flex justify-content-center mt-3">
            <img src="src/assets/icons/big star icon.svg" alt="" class="">
            <img src="src/assets/icons/big star icon.svg" alt="" class="">
            <img src="src/assets/icons/big star icon.svg" alt="" class="">
            <img src="src/assets/icons/big star icon.svg" alt="" class="">
            <img src="src/assets/icons/big star icon.svg" alt="" class="">
        </div>

        <div class="text  ">
            <p class=" textcolor  text-center mt-4 OpenSans15px-400">The quality of organic produce is extremely high, the service is second to none and the taste of the   food <br>  takes me back to my childhood when we were growing our own.</p>

            <p class="Roboto26px-700  d-flex flex-column text-center">Sara Taylor <span class="textcolor  text-center OpenSans15px-400">Consumer</span></p>

            <div class="line"></div>
        </div>

        <div class="row">
            <!--  -->
            <div class="col-xl-3 mt-5 ">

                
                <div class=" text-center d-flex flex-column paddingcirul ">
                    <div class="cir">
                        <p class="Roboto45px-700">100%</p>
                        <p class="OpenSans18px-700">Organic</p>
                    </div>
                </div>

            </div>
            <!--  -->
            <div class="col-xl-3 mt-5 ">

                
                <div class=" text-center d-flex flex-column paddingcirul ">
                    <div class="cir ">
                        <p class="Roboto45px-700">285%</p>
                        <p class="OpenSans18px-700 ">Active Product</p>
                    </div>
                </div>

            </div>
            <!--  -->
            <div class="col-xl-3 mt-5 ">

                
                <div class=" text-center d-flex flex-column paddingcirul ">
                    <div class="cir d-flex flex-column  ">
                        <p class="Roboto45px-700">385+</p>
                        <p class="OpenSans18px-700 "> Orchads</p>
                    </div>
                </div>

            </div>
            <!--  -->
            <div class="col-xl-3 mt-5 ">

                
                <div class=" text-center d-flex flex-column paddingcirul ">
                    <div class="cir">
                        <p class="Roboto45px-700">25+</p>
                        <p class="OpenSans18px-700">Years of </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    
</section>